* {
  padding: 0;
  margin: 0;
}
.container-fluid {
  background-image: url(../images/neon-light-arrow-direction-perspective_1017-22033.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.game_name {
  font-size: 50px;
  color: rgb(226, 223, 42);
  text-align: center;
  font-family: yellowtail;
}
img {
  width: 100px;
  height: 100px;
  margin-left: 40%;
  margin-top: 20px;
}
#play {
  width: 180px;
  height: 50px;
  margin-left: 44%;
  margin-top: 20px;
  background-color: rgb(158, 157, 69);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: yellowtail;
}
#play:hover {
  background-color: rgb(226, 223, 42);
  color: rgb(158, 157, 69);
}
#about {
  width: 180px;
  height: 50px;
  margin-left: 44%;
  margin-top: 20px;
  background-color: rgb(78, 190, 93);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: yellowtail;
}
#about:hover {
  background-color: rgb(226, 223, 42);
  color: rgb(78, 190, 93);
}
#store {
  width: 180px;
  height: 50px;
  margin-left: 44%;
  margin-top: 20px;
  background-color: brown;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: yellowtail;
}
#store:hover {
  background-color: rgb(226, 223, 42);
  color: brown;
}
#other {
  width: 180px;
  height: 50px;
  margin-left: 44%;
  margin-top: 20px;
  background-color: #ff0000;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: yellowtail;
}
#other:hover {
  background-color: rgb(226, 223, 42);
  color: #ff0000;
}
.share {
  width: 50px;
  height: 40px;
  margin-left: 39%;
  margin-top: 20px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 10px;
}
.gear {
  width: 50px;
  height: 40px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 10px;
}
.trophy {
  width: 50px;
  height: 40px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 10px;
}
.video {
  width: 50px;
  height: 40px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 10px;
}
.google {
  width: 50px;
  height: 40px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 10px;
}
.date {
  font-family: Yellowtail;
  font-size: 20px;
  color: white;
}
.name_initials {
  font-family: Yellowtail;
  font-size: 20px;
  color: white;
  width: 100px;
  height: 30px;
  background-color: #ff0000;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-left: 90%;
}
/* .container div{
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;

} */
/*make responsive for iphone 6/7/8*/
/* @media(max-width: 414px) {
  .container-fluid {
    background-image: url(../images/neon-light-arrow-direction-perspective_1017-22033.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .game_name {
    font-size: 50px;
    color: rgb(226, 223, 42);
    text-align: center;
    font-family: yellowtail;
  }
  img {
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-top: 20px;
  }
  #play {
    width: 180px;
    height: 50px;
    margin-left: 30%;
    margin-top: 20px;
    background-color: rgb(158, 157, 69);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: yellowtail;
  }
  #play:hover {
    background-color: rgb(226, 223, 42);
    color: rgb(158, 157, 69);
  }
  #about {
    width: 180px;
    height: 50px;
    margin-left: 30%;
    margin-top: 20px;
    background-color: rgb(78, 190, 93);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: yellowtail;
  }
  #about:hover {
    background-color: rgb(226, 223, 42);
    color: rgb(78, 190, 93);
  }
  #store {
    width: 180px;
    height: 50px;
    margin-left: 30%;
    margin-top: 20px;
    background-color: brown;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: yellowtail;
  }
  #store:hover {
    background-color: rgb(226, 223, 42);
    color: brown;
  }
  #other {
    width: 180px;
    height: 50px;
    margin-left: 30%;
    margin-top: 20px;
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: yellowtail;
  }
  #other:hover {
    background-color: rgb(226, 223, 42);
    color: #ff0000;
  }
  .share {
    width: 50px;
    height: 40px;
    margin-left: 10%;
    margin-top: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
  }
  .gear {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
  }
  .trophy {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
  }
  .video {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
  }
  .google {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
  }
  .date {
    font-family: Yellowtail;
    font-size: 20px;
    color: white;
    margin-top: 10px;
  }
  .name_initials {
    font-family: Yellowtail;
    font-size: 20px;
    color: white;
    width: 100px;
    height: 30px;
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-left: 70%;
    margin-top: 60px;
  } 
}
@media(max-width: 360px) {
  .container-fluid {
    background-image: url(../images/neon-light-arrow-direction-perspective_1017-22033.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .game_name {
    font-size: 50px;
    color: rgb(226, 223, 42);
    text-align: center;
    font-family: yellowtail;
  }
  img {
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-top: 20px;
  }
  #play {
    width: 180px;
    height: 50px;
    margin-left: 25%;
    margin-top: 20px;
    background-color: rgb(158, 157, 69);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: yellowtail;
  }
  #play:hover {
    background-color: rgb(226, 223, 42);
    color: rgb(158, 157, 69);
  }
  #about {
    width: 180px;
    height: 50px;
    margin-left: 25%;
    margin-top: 20px;
    background-color: rgb(78, 190, 93);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: yellowtail;
  }
  #about:hover {
    background-color: rgb(226, 223, 42);
    color: rgb(78, 190, 93);
  }
  #store {
    width: 180px;
    height: 50px;
    margin-left: 25%;
    margin-top: 20px;
    background-color: brown;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: yellowtail;
  }
  #store:hover {
    background-color: rgb(226, 223, 42);
    color: brown;
  }
  #other {
    width: 180px;
    height: 50px;
    margin-left: 25%;
    margin-top: 20px;
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: yellowtail;
  }
  #other:hover {
    background-color: rgb(226, 223, 42);
    color: #ff0000;
  }
  .share {
    width: 50px;
    height: 40px;
    margin-left: 4%;
    margin-top: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
  }
  .gear {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
  }
  .trophy {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
  }
  .video {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
  }
  .google {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
  }
  .date {
    font-family: Yellowtail;
    font-size: 20px;
    color: white;
    margin-top: 20px;
  }
  .name_initials {
    font-family: Yellowtail;
    font-size: 20px;
    color: white;
    width: 100px;
    height: 30px;
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-left: 70%;
    margin-top: 1px;
  } 
} */
