#sound {
  display: none;
}
#canvas{
  background-image: url(../bgimg/incredible\ collection\ of\ video\ game\ backgrounds\ in\ animated\ GIF\ form.gif);
  background-repeat: no-repeat;
  background-size: cover;
  
}

